<table>
  <tbody>
    <tr>
      <th>HH Access Token</th>
      <td>
        <input
          type="text"
          id="settings_hh_access_token"
          value="<%= settings['hh_access_token'] %>"
          name="settings[hh_access_token]"
        >
      </td>

      <th>HH Employer ID</th>
      <td>
        <input
          type="text"
          id="settings_hh_employer_id"
          value="<%= settings['hh_employer_id'] %>"
          name="settings[hh_employer_id]"
        >
      </td>
    </tr>
  </tbody>
</table>
